@model FooterModel
@using SmartStore.Web.Models.Common;

<section id="footer" class="container">

    <div class="row">

        <div class="span8">
            <div class="x-first-col">
                <div class="row-fluid">
                    <nav class="footer-quicklinks service span12 first-col">
                        <h4>Obchodní podmínky</h4>
                        <ul class="unstyled">
                            <li><a href="@Url.RouteUrl("Topic", new { SystemName = "shippinginfo" })">@T("ShippingReturns")</a></li>
                            <li><a href="@Url.RouteUrl("Topic", new { SystemName = "privacyinfo" })">@T("PrivacyNotice")</a></li>
                            <li><a href="@Url.RouteUrl("Topic", new { SystemName = "conditionsofuse" })">@T("ConditionsOfUse")</a></li>

                        </ul>
                    </nav>

                    <nav class="footer-quicklinks company span12 first-col">
                        <h4>O společnosti</h4>
                        <ul class="unstyled">
                            <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a> </li>
                            <li><a href="@Url.RouteUrl("Topic", new { SystemName = "aboutus" })">@T("AboutUs")</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <div class="span10">
            <div style="height:100px"></div>
            <div style="color: #aaaaaa; " class="pull-right">@T("Content.CopyrightNotice", DateTime.Now.Year.ToString(), @Model.StoreName)</div>
        </div>
    </div>

    <div class="row">
        <div class="span24">
            @Html.Widget("footer")
        </div>
    </div>
</section>

<div class="footer-disclaimer container">
    <div class="row">
        <div class="span8">
            @if (Model.ShowLegalInfo)
            {
                <div class="footer-legal">
                    @Html.Raw(Model.LegalInfo)
                </div>}
        </div>

        <div class="span8 ac">

        </div>

        <div class="span8 ar">
            <div>
                @T("Content.CopyrightNotice", DateTime.Now.Year.ToString(), @Model.StoreName)
            </div>
        </div>
    </div>
</div>

<div id="switch-to-mobile">
    @Html.Action("ChangeDeviceBlock", "Common")
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#newsletter-subscribe-button').click(function () {

            var subscribe = 'true';
            if ($('#newsletter-unsubscribe').is(':checked')) {
                subscribe = 'false';
            }
            var email = $("#newsletter-email").val();

            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.RouteUrl("SubscribeNewsletter"))",
                data: { "subscribe": subscribe, "email": email },
                success: function (data) {
                    $("#newsletter-result-block").html(data.Result);
                    if (data.Success) {
                        $('#newsletter-subscribe-block').hide();
                        $('#newsletter-result-block').removeClass("alert-error").addClass("alert-success").show();
                    }
                    else {
                        $('#newsletter-result-block').removeClass("alert-success").addClass("alert-error").fadeIn("slow").delay(2000).fadeOut("slow");
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $("#newsletter-result-block").empty().text("Failed to subscribe").removeClass("alert-success").addClass("alert-error");
                }
            });
            return false;
        });

        if (Modernizr.touch) {
            $('#switch-to-mobile').css('display', 'block');
        }
    });
</script>